<!-- List -->
<div class="container line-buy-component">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{title}}</div>
    <!-- List group -->
    <div class="list-group">
      <div ng-repeat="buy in buyTable" class="list-group-item">
        <div class="row">
    		  <div class="col-md-4">
    		  	<img ng-src="{{buy.image}}">
    		  	<button class="btn btn-primary btn-md"><img style="width: 18px" src="images/Button-Download.png"></button>
    		  </div>

    		  <div class="col-md-4">
    		  	<h4 class="list-group-item-heading">{{buy.titleItem}}</h4>
    		    <p class="list-group-item-text">{{buy.artistName}}</p>
    		    <button class="btn btn-info btn-md"><img src="images/Button-Info.png"></button>
    		  </div>

    		  <div class="col-md-4">
    		  	<p class="list-group-item-text" class="pull-right">{{buy.price | currency}}</p>
    		  </div>
    		</div>
      </div>
    </div>
  </div>

  <div class="jumbotron pull-left">
    <a href="#/" class="btn btn-default">Home</a>
  </div>

  <div class="jumbotron pull-right">
    <div>Total price: {{totalPrice | currency}}</div>
  </div>
</div>
